---
const { t } = Astro.props;
import Arrow from "@assets/img/cycle/arrow.svg";
---

<section id="cycle">
	<div class="title">
		<h2 class="aos aos-fadeIn"><span>不只是一次合作</span>而是一場能持續十年、二十年的循環。</h2>
		<img src="/cfs/Cycle/Cycle.svg" alt="" id="cycle-img" />
		<!-- mobile Text -->
		<div class="mobileCycleText">
			<h3 class="emfont-XiaoLai">發覺新秀</h3>
			<p>舉辦年會、黑客松，提供各領域人才展現自我與交流所學的舞台。</p>
			<h3 class="emfont-XiaoLai">培育人才</h3>
			<p>推動教育公平、促進產學交流，培養組織與領導能力</p>
			<h3 class="emfont-XiaoLai">創造影響</h3>
			<p>尋找使用者與徵才，搶佔年輕開發者的心</p>
		</div>

		<p class="slogan">
			參與 SITCON 不只是曝光，而是成為社群的一部分。<br />從第一場 SITCON 到第一個專案團隊，企業與人才的故事由你啟動。
		</p>
	</div>
	<div class="sdgs">
		<div class="sdgs-item">
			<img src="/cfs/Cycle/Hungry.svg" alt="" />
			<div class="sdgs-text">
				<h4>消除飢餓</h4>
				<p>開會前後或沒事會揪團去吃好吃的。</p>
			</div>
		</div>

		<div class="sdgs-item init">
			<img src="/cfs/Cycle/Hungry.svg" alt="" />
			<div class="sdgs-text">
				<h4>健康生活</h4>
				<p>大家一起運動，保持身心健康。</p>
			</div>
		</div>

		<div class="sdgs-item">
			<img src="/cfs/Cycle/Hungry.svg" alt="" />
			<div class="sdgs-text">
				<h4>優質教育</h4>
				<p>推動學習分享，促進教育公平。</p>
			</div>
		</div>
	</div>
</section>

<style define:vars={{ arrowURL: `url(${Arrow.src})` }}>
	section {
		padding: 2rem;
	}

	#cycle-img {
		display: block;
		margin: auto;
	}
	.mobileCycleText {
		display: none;
		max-width: 35rem;
		margin: auto;
		padding: 2rem;
	}

	span {
		display: block;
	}
	h3::before {
		content: "";
		display: inline-block;
		width: 0.9em;
		height: 0.9em;
		background: var(--arrowURL) no-repeat center;
		background-size: contain;
		margin-right: 0.5rem;
	}

	h3 {
		font-size: 1.5rem;
		margin-bottom: 0.5rem;
	}

	p {
		margin-bottom: 1rem;
	}

	.slogan {
		text-align: center;
		margin-bottom: 3rem;
	}

	.sdgs {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: 2rem;
		margin-bottom: 9rem;
		position: relative;
	}

	.sdgs-item {
		cursor: pointer;
	}

	.sdgs-item img {
		width: 8rem;
		transition: transform 0.3s ease;
	}

	.sdgs:has(.sdgs-item:hover) .init img,
	.sdgs:has(.sdgs-item:active) .init img {
		transform: none;
	}

	.sdgs:has(.sdgs-item:hover) .sdgs-item:hover img,
	.init img,
	.sdgs:has(.sdgs-item:hover) .sdgs-item:active img {
		transform: scale(1.1);
	}

	.sdgs-text {
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translate(-50%, 0);
		width: 28rem;
		max-width: 100%;
		opacity: 0;
		visibility: hidden;
		transition:
			opacity 0.4s ease,
			visibility 0.4s ease;
		pointer-events: none;
		margin-top: 1.5rem;
	}

	h4 {
		font-size: 1.3rem;
		margin-bottom: 0.5rem;
	}

	.sdgs:has(.sdgs-item:hover) .init .sdgs-text,
	.sdgs:has(.sdgs-item:active) .init .sdgs-text {
		opacity: 0;
		visibility: hidden;
	}

	.init .sdgs-text,
	.sdgs:has(.sdgs-item:hover) .sdgs-item:hover .sdgs-text,
	.sdgs:has(.sdgs-item:hover) .sdgs-item:active .sdgs-text {
		opacity: 1;
		visibility: visible;
	}

	@media (max-width: 50rem) {
		#cycle-img {
			content: url("/cfs/Cycle/mobileCycle.svg");
			width: 70%;
			height: auto;
		}

		.mobileCycleText {
			display: block;
		}
	}

	@media (max-width: 40rem) {
		.sdgs img {
			width: 5rem;
		}
	}
</style>
