---
const { t } = Astro.props;
import FormInput from "../FormInput.astro";
---

<section id="form">
	<div class="form-title-container">
		<h1 class="form-title">今天的支持，成就十年後的技術領袖</h1>
	</div>

	<div class="form-container">
		<form class="form-body" id="sponsor-form">
			<h2 class="form-title">公司贊助</h2>
			<FormInput title="單位名稱" name="organization" required />
			<FormInput title="部門/負責業務" name="department" description="單位名稱" />
			<FormInput title="如何稱呼您？" name="name" required />
			<FormInput title="聯絡方式" name="contact" placeholder="Telegram / @SITCONgeneral" description="Email、FB、LINE ID 或 Telegram ... 等，各式我們能聯絡到您的方式。" required />
			<FormInput title="還有什麼想和我們說的嗎？" name="message" />
			<div id="form-message"></div>

			<button type="button" id="sponsor-form-submit" class="form-submit-button">
				<span class="form-submit-button-text">送出</span>
			</button>
		</form>

		<div class="divider"></div>

		<div class="form-body">
			<h2 class="form-title">或是以個人名義<br />贊助 SITCON</h2>
			<a class="personal-sponsor-button" href="https://ocf.neticrm.tw/civicrm/contribute/transact?reset=1&id=76" target="_blank">
				<span class="personal-sponsor-button-text">立即贊助</span>
			</a>
		</div>
	</div>
</section>

<script>
	const apiUrl = "https://script.google.com/macros/s/AKfycbzjGqtt87QL_8bvH7suOvReCTawQeRmSqtGeJFDPBnJVRsQan628x9swGFBhcPs0LnH/exec";

	const form = document.getElementById("sponsor-form") as HTMLFormElement;
	const submitButton = document.getElementById("sponsor-form-submit");
	submitButton?.addEventListener("click", event => {
		event.preventDefault();
		fetch(apiUrl, {
			method: "POST",
			body: new FormData(form)
		})
			.then(async res => {
				const data = await res.json();
				if (data.status == 200) {
					form.reset();
				}
				const message = document.getElementById("form-message");
				if (message) {
					message.textContent = data.message;
				}
			})
			.catch(e => {
				console.error(e);
			});
	});
</script>

<style>
	#form-message {
		color: #0171e3;
		font-family: "LINE Seed TW_OTF";
		font-size: 1rem;
	}
	.personal-sponsor-button-text {
		color: var(--White, #fff);
		text-align: center;
		text-decoration: none;
		font-family: "LINE Seed TW_OTF";
		font-size: 1.5rem;
		font-style: normal;
		font-weight: 400;
		line-height: 100%; /* 1.5rem */
		letter-spacing: 0.075rem;
	}
	.personal-sponsor-button {
		display: flex;
		height: 4.125rem;
		padding: 0 2.0625rem;
		text-decoration: none;
		justify-content: center;
		align-items: center;
		gap: 0.625rem;
		border-radius: 625rem;
		background: #0171e3;
	}
	.form-submit-button-text {
		color: var(--White, #fff);
		font-family: "LINE Seed TW_OTF";
		font-size: 1rem;
		font-style: normal;
		font-weight: 400;
		line-height: 100%; /* 1rem */
		letter-spacing: 0.05rem;
	}
	.form-submit-button {
		display: flex;
		height: 3.0625rem;
		padding: 0 1.9375rem;
		align-items: center;
		gap: 0.625rem;
		border-radius: 0.5rem;
		background: #0171e3;
	}
	.form-title-container {
		display: flex;
		height: 22.3125rem;
		padding: 14.0625rem 19.8125rem 4.0625rem 19.8125rem;
		justify-content: center;
		align-items: center;
		background: linear-gradient(180deg, #f1f3fb 0%, #fff 32.86%);
	}
	.form-title {
		color: var(--Black, #1d1d1f);
		font-family: "LINE Seed TW_OTF";
		font-size: 3.5rem;
		font-style: normal;
		font-weight: 700;
		line-height: 120%; /* 4.2rem */
		letter-spacing: -0.077rem;
	}

	.form-container {
		background: var(--White, #fff);
		display: flex;
		padding: 2rem 0;
		justify-content: center;
		align-items: center;
		gap: 5.8125rem;
		align-self: stretch;
	}

	.form-body {
		display: flex;
		padding: 0 6.6875rem;
		flex-direction: column;
		align-items: flex-start;
		gap: 2.1875rem;
	}

	.form-title {
		color: var(--Black, #1d1d1f);
		font-family: "LINE Seed TW_OTF";
		font-size: 2.5rem;
		font-style: normal;
		font-weight: 700;
		line-height: 120%; /* 3rem */
		letter-spacing: -0.055rem;
	}

	.divider {
		background: var(--Black, #1d1d1f);
		width: 0.0625rem;
		height: 50.8125rem;
	}
</style>
