---
const { t } = Astro.props;
---

<section id="hero">
	<div class="aos aos-fadeIn">
		<img class="aos aos-fadeIn" src="/cfs/SITCON.svg" alt="" />
		<h2 class="aos aos-fadeZoom">{t.title}<br />{t.title2}</h2>
		<p class="aos aos-fadeIn">{t.subtitle}<br />{t.subtitle2}</p>
	</div>
</section>

<style>
	section {
		height: 100vh;
		text-align: center;
		padding: 1rem;
		color: var(--black);
	}

	section,
	div {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 1.75rem;
	}

	img {
		display: block;
	}

	h2 {
		font-size: 5rem;
		line-height: 1.2;
	}

	p.aos-fadeIn {
		font-size: 1.5rem;
		line-height: 1.33;
		transition-delay: .5s;
	}

	.aos-fadeIn {
		transition: opacity 2s ease-in-out;
	}

	.aos-fadeZoom {
		scale: 0.9;
		opacity: 0;
		transition: 2s ease;
	}

	.aos-fadeZoom.appeared {
		scale: 1;
		opacity: 1;
	}

	@media (max-width: 50rem) {
		h2 {
			font-size: 3rem;
		}

		p.aos-fadeIn {
			font-size: 1.25rem;
		}
		
	}
</style>
